// ==================================
//            Variables
// ==================================
$light-grey: #f1f1f1;
$soft-dark-gradient: linear-gradient(rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.25) 100%);
$background-color: #ecd078;
$kfr-primary: #c02942;
$kfr-secondary: #53777a;
$kfr-light: #d95B43;
$kfr-dark: #542437;
$headings-font: 'Poiret One';
/* ==================================
              Elements
===================================== */
html,
body {
  background-color: $background-color;
  height: 100% !important;
  font-size: 14px;
  color: $kfr-dark;
  font-family: 'Arvo';
}
body {
  padding-top: 70px;
}
h1, h2, h3, h4, h5, h6 {
  color: $kfr-secondary;
  font-family: $headings-font;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5rem;
}
p {
  line-height: 1.6;
  margin-bottom: 1.6em;
  font-size: 1em;
}
a {
  color: $kfr-primary;
}
a:hover {
  color: $kfr-primary;
  text-decoration: underline;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #888;
}
article {
  columns: 2;
  margin-bottom: 30px;
}
/* ==================================
              Classes
===================================== */
.spacer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
  border-top: 3px solid $kfr-primary;
}
.spacer-left {
  margin-left: 0px;
}
.spacer-right {
  margin-right: 0px;
}
.restaurant-logos {
  max-width: 200px;
}
.light {
  color: #999;
}
.wide-gutter {
  column-gap: 50px;
}
.img-thumbnail {
  background: $background-color;
  border-color: $kfr-secondary;
  margin-bottom: 30px;
}
/* ==================================
              Navbar
===================================== */
.navbar {
  margin-bottom: 0;
  font-family: $headings-font;
}
.navbar-default {
  background-color: $background-color;
  border-bottom: 0;
  .navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    color: $kfr-dark;
  }
  .navbar-brand:hover {
    color: $kfr-primary;
  }
  .navbar-nav {
    margin-right: 0;
    li {
      a {
        text-transform: uppercase;
        font-size: 1.5em;
        color: #000;
        font-weight: 500;
        letter-spacing: 1px;
        padding-top: 25px;
        padding-bottom: 25px;
      }
      a:hover {
        background: $kfr-primary;
        color: #fff;
      }
    }
  }
  .navbar-toggle {
    background: $kfr-primary;
    border-color: $kfr-dark;
    transition: ease 0.4s;
    .icon-bar {
      background: $background-color;
    }
  }
  .navbar-toggle:hover {
    background: $kfr-dark;
  }
}
.sudo-border {
  margin-top: 0;
  border-top: 3px solid $kfr-dark;
  margin-bottom: 0;
}
/* ==================================
         Home page specifics
===================================== */
.splash-landing {
  background: url('../images/hero3.jpg') center center;
  background-size: cover;
  color: #fff;
  border-bottom: 1px solid #ccc;
  .lead {
    margin: 0;
    padding-top: 17%;
    padding-bottom: 17%;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 0 1px 15px rgba(255,255,255,0.75);
    font-family: Pacifico;
    font-size: 4.5rem;
    color: $kfr-dark;
    text-transform: initial !important;
  }
}
.more-info-links {
  margin-top: 15px;
  margin-bottom: 30px;
  li {
    margin-left: 15px;
    margin-right: 15px;
    a {
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }
}
/* ==================================
      A nicely spaced section
===================================== */
.ply {
  padding-top: 70px;
  padding-bottom: 70px;
}
/* ==================================
      Secondary Menu & Restaurants
===================================== */
.secondary-menu,
.restaurants,
.produce {
  margin-bottom: 30px;
  a,
  p {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    transition: ease 0.5s;
    text-shadow: 0 1px 10px rgba(0,0,0,0.55);
  }
}
.secondary-menu {
  a {
    font-size: 2em;
    padding-top: 30%;
    padding-bottom: 30%;
  }
  a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.5);
  }
}
.secondary-menu-bottom {
  a {
    font-size: 1.75em;
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
.restaurants {
  p {
    font-size: 1.6em;
    padding-top: 17.5%;
    padding-bottom: 17.5%;
    background: rgba(0,0,0,0.4);
  }
  p:hover {
    background: none;
  }
}
.produce {
  p {
    font-size: 2.4em;
    padding-top: 30%;
    padding-bottom: 30%;
  }
  p:hover {
    background: rgba(0,0,0,0.4);
  }
}
.sm_1 {
  background: $soft-dark-gradient, url('/images/chicks.jpg') center center;
  background-size: cover;
}
.sm_2 {
  background: $soft-dark-gradient, url('/images/ducks.jpg') center center;
  background-size: cover;
}
.sm_3 {
  background: $soft-dark-gradient, url('/images/geese.jpg') center center;
  background-size: cover;
}
.sm_4 {
  background: $soft-dark-gradient, url('/images/mairead_walsh.jpg') center center;
  background-size: cover;
}
.r_1 {
  background: $soft-dark-gradient, url('/images/campagne-photo.jpg') center center;
  background-size: cover;
}
.r_2 {
  background: $soft-dark-gradient, url('/images/restaurant-pg.jpg') center center;
  background-size: cover;
}
.r_3 {
  background: $soft-dark-gradient, url('/images/dunbrody-house.jpg') center center;
  background-size: cover;
}
.r_4 {
  background: $soft-dark-gradient, url('/images/waterford-castle.jpg') center center;
  background-size: cover;
}
.r_5 {
  background: $soft-dark-gradient, url('/images/aldridge-lodge.jpg') center center;
  background-size: cover;
}
.r_6 {
  background: $soft-dark-gradient, url('/images/ballyfin-demesne.jpg') center center;
  background-size: cover;
}
.r_7 {
  background: $soft-dark-gradient, url('/images/chapter-one.jpg') center center;
  background-size: cover;
}
.r_8 {
  background: $soft-dark-gradient, url('/images/thorntons.jpg') center center;
  background-size: cover;
}
.r_9 {
  background: $soft-dark-gradient, url('/images/zuni.jpg') center center;
  background-size: cover;
}
.p_1 {
  background: $soft-dark-gradient, url('/images/ducks.jpg') center center;
  background-size: cover;
}
.p_2 {
  background: $soft-dark-gradient, url('/images/geese.jpg') center center;
  background-size: cover;
}
/* ==================================
              Footer
===================================== */
footer {
  padding-bottom: 70px;
  .input-group {
    .form-control:first-child {
      border-radius: 0;
      border: 1px solid $kfr-dark;
      background: $background-color;
      height: 3.5em;
    }
    .input-group-addon:last-child {
      border: 1px solid #000;
      border-left: 0;
      border-radius: 0;
      background-color: $kfr-secondary;
      color: $background-color;
    }
    ::-webkit-input-placeholder {
    color: $kfr-primary;
    font-weight: 500;
    font-size: 1em;
    }
  }
}
/* ==================================
            Cheat codes!
===================================== */
.light-grey-background {
  background: $light-grey;
}
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}
.margin-t-b-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.width-hundred {
  max-width: 100%;
}
.width-ninety {
  max-width: 90%;
}
.width-eighty {
  max-width: 80%;
}
/* ==================================
          Five column layout
===================================== */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
      width: 20%;
      float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
      width: 20%;
      float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
      width: 20%;
      float: left;
  }
}
/* ==================================
            Media queries
===================================== */
@media screen and (max-width: 768px) {
  body {
    padding-top: 50px;
  }
  .navbar-default {
    .navbar-brand {
      padding-top: 15px;
      font-size: 1.5rem;
    }
  }
  .splash-landing {
    .lead {
      font-size: 2.5em;
      padding-top: 20%;
      padding-bottom: 30%;
    }
  }
  .secondary-menu {
    a {
      padding-top: 15%;
      padding-bottom: 15%;
    }
  }
}
